{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- main page image -->
<div class="container-fluid text-center">
    <div class="col-md-6 offset-md-3">
        <img class="img-fluid bike-img"
        src="https://images.pexels.com/photos/100582/pexels-photo-100582.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="bike photo">
    </div>
</div>

<div class="tag-line">
    <h1>
        WHERE DO YOU WANT TO RIDE?
    </h1>
    <p>
        Share you'r bike rides ideas with others or 
        any ride experience that you have. Post a post about an idea or just get an 
        inspiration from the other riders.
    </p>
</div>



{% endblock %}